@model EmployeeManagementSystemCore.ViewModels.AdminViewModelList
@{ 
    string searchstr = "";
}
@if (Convert.ToInt32(Session["role"]) == 1 && ViewBag.GetAllEmployeeDetails == null)
{
    

    <h2 class="addEmp">Employees Details</h2>
    <hr id="addemphr" />
    <div class="GetAllEmpDet-btn">

        <div class="GetAllEmpDet-btn-sec desi--btn">
            <a href="@Url.Action("AddNewEmp","Admin")">
                <span class="fa fa-solid fa-user"></span>
                Add Employee
            </a>
        </div>
        <div>
            @using (Html.BeginForm())
            {
            <p> Find by Name: @Html.TextBox("SearchEmp") <input type="submit" value="Search" id="search" onchange="SearchFunction()" /></p>
            }
         
        </div>

       



    </div>
    

    <div class="table-wrapper-scroll-y scroll-demo"  >
        <table id="GetAllEmpDetails" >

            <thead class=" ">
                <tr class="search">
                    <th class="col-md-3 ">
                        Name
                    </th>


                    <th class="col-md-2">
                        Email
                    </th>


                    @* <th class="col-md-1">
                            Role
                        </th>*@
                    <th class="col-md-2">
                        Designation
                    </th>

                    <th class="col-md-2">
                        Actions
                    </th>

                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model.allEmployees)
                {

                    <tr class="table-bordered ">


                        @if (item.IsActive == true)
                        {
                            <td onclick="location.href='@Url.Action("GetSpecificUserDetails", "Admin",item)'" class="col-md-3 getallemp-btn ">@item.FirstName @item.MiddleName @item.LastName</td>

                            <td class="col-md-2"> @item.Email</td>
                            @*<td class="col-md-1">@item.Role</td>*@
                            <td class="col-md-2"> @item.DesignationName</td>
                            <td class="col-md-2">
                                <span>
                                    <button onclick="location.href='@Url.Action("EditEmp", "Admin",item)'" id="emp-create-btn" class="btn-primary btn-sm mx-2 my-1" type="button" model-toggle="tooltip" model-placement="top" title="Edit Details"><i class="fa fa-solid fa-pen mx-1"></i></button>

                                    <button onclick="(confirm('do you want to Disable?')) ? location.href='@Url.Action("DisableEmp", "Admin", item)' : null;" id="emp-create-btn" class="bg-warning text-dark btn-sm mx-2" type="button" model-toggle="tooltip" model-placement="top" title="Disable Employee"><i class="fa fa-regular fa-user-slash mx-1"></i></button>

                                    <button onclick="location.href='@Url.Action("Report", "Admin", item)'" id="emp-create-btn" class="btn-success btn-sm" type="button" model-toggle="tooltip" model-placement="top" title="Generate Report"><i class="fa fa-thin fa-file-chart-pie mx-1"></i></button>

                                </span>
                            </td>
                        }
                        else
                        {

                            <td onclick="location.href='@Url.Action("GetSpecificUserDetails", "Admin",item)'" class="col-md-3 disabled bg-secondary text-white">@item.FirstName @item.MiddleName @item.LastName</td>

                            @*<td class="col-md-3 disabled bg-secondary text-white">@item.FirstName @item.MiddleName @item.LastName</td>*@
                            <td class="col-md-2 disabled bg-secondary text-white"> @item.Email</td>
                            @*                                <td class="col-md-1 disabled bg-secondary text-white">@item.Role</td>
                            *@
                            <td class="col-md-2 disabled bg-secondary text-white"> @item.DesignationName</td>
                            <td class="col-md-2 disabled bg-secondary text-white">
                                <span>
                                    <button onclick="location.href='@Url.Action("EditEmp", "Admin", item)'" id="emp-create-btn" class="btn-danger btn-sm mx-2" type="button" model-toggle="tooltip" model-placement="top" title="Details Disbaled" disabled><i class="fa fa-solid fa-pen mx-1"></i></button>

                                    <button onclick="(confirm('do you want to Enable?')) ? location.href='@Url.Action("EnableEmp", "Admin", item)' : null;" id="emp-create-btn" class="btn-danger btn-sm mx-2" type="button" model-toggle="tooltip" model-placement="top" title="Enable Employee? "><i class="fa fa-regular fa-user-slash mx-1"></i></button>


                                    <button onclick="location.href='@Url.Action("Report", "Admin", item)'" id="emp-create-btn" class="btn-danger btn-sm" type="button" model-toggle="tooltip" model-placement="top" title="Report Disbaled" disabled><i class="fa fa-thin fa-file-chart-pie mx-1 "></i></button>

                                </span>
                            </td>


                        }


                    </tr>

                }



            </tbody>
        </table>
    </div>



}
else if (ViewBag.GetAllEmployeeDetails != null)
{
    <div>
        <p>
            @ViewBag.GetAllEmployeeDetails
        </p>
    </div>
}
else
{
    <td> You are not Authorized </td>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script type="text/javascript">
    var glo = "ab";
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        })
    })


    @*function SearchFunction() {
        var s = document.querySelector("#search").value;
        if (s.length >= 3) {
                    @Html.ActionLink("GetAllEmployeeDetails", "Admin", new { searchtext=s });

        }
    }*@
</script>

