@model EmployeeManagementSystemCore.ViewModels.AddNewEmployeeViewModel

@{
    ViewBag.Title = "AccountDetails";
    var EmpCode = (EmployeeManagementSystemCore.ViewModels.EmployeeIdNameViewModelList)ViewData["EmpName"];

    var EmpCodeOption = new List<SelectListItem>();
    foreach (var item in EmpCode.EmployeeIdNameList)
    {
        EmpCodeOption.Add(new SelectListItem() { Text = item.FirstName , Value = item.EmployeeId.ToString() });
    }
}


<h4 class="LeaveSummaryHeading">Account Details</h4>
<hr id="leaverequesthr"/>
@using (Html.BeginForm("AddLogin", "Admin",Model))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="leaveRequestDiv">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        

        <div class="form-group my-4">
            <label class="control-label col-md-4 ">UAN Number</label>
            <div class="col-md-6">

                @Html.EditorFor(model => model.UANNo, new { htmlAttributes = new { @class = "form-control",required="required",pattern= "[0-9]{12-20}" ,
               @minlength = 12,
               @maxlength = 20
           } })

                @Html.ValidationMessageFor(model => model.UANNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Account Number</label>
            <div class="col-md-6">

                @Html.EditorFor(model => model.BankAcNo, new { htmlAttributes = new { @class = "form-control",required="required",pattern= "[0-9]{12-20}",
               @minlength = 7,
               @maxlength = 20
           } })

                @Html.ValidationMessageFor(model => model.BankAcNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">IFSC Code</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.IFSCCode, new { htmlAttributes = new { @class = "form-control",required="required",pattern= "[A-Z]{4}[0-9]{7}", @minlength =11,
               @maxlength = 11
           } })
                @Html.ValidationMessageFor(model => model.IFSCCode, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group">

            <div class="col-md-offset-2 col-md-2" id="LeaveBtn">
                <input type="submit" id="createsubmit" value="Create" class="btn btn-default btn-primary" />

            </div>
            <div class="col-md-2 " id="Addproject-form-back-list">
                @Html.ActionLink("Back", "AddNewEmp", "Admin", new { @class = "btn-success -default" ,style = "width: 11.55%" })
                
            </div>
        </div>
    </div>
}
