@{
    ViewBag.Title = "Department";
    var data = (IEnumerable<EmployeeManagementSystemCore.ViewModels.DepartmentsViewModel>)ViewData["TeamEmps"];
    //var data1 = (IEnumerable<EmployeeManagementSystem.ViewModels.DepartmentsViewModel>)ViewData["TeamEmps1"];

}


@if (Convert.ToInt16((Session["Role"]).ToString()) == 1 && ViewBag.DepartmentMessage == null)

{


    <h2 class="DepartHeading">Teams</h2>
    <hr id="addemphr" />

    <div class="dept-btn">

        <div class="dept-btn-sec ">
            <a href="@Url.Action("AddProject" , "Admin")">
                <span class="fa fa-solid fa-file-chart-pie"></span>
                Add Project
            </a>
        </div>

        <div class="dept-btn-sec ">
            <a href="@Url.Action("AssignTeamLead" , "Admin")">
                <span class="fa fa-solid fa-file-chart-pie"></span>
                Assign Team Lead
            </a>
        </div>

        <div>
            @using (Html.BeginForm())
            {
                <p class="projectsearch mx-3"> Find by Project Name: @Html.TextBox("searchProjectName") <input type="submit" value="Search" /></p>
            }
        </div>



    </div>


    <div id="Depat-table-Div">


        <table @*class="DepartTab"*@ id="GetAllEmpDetails">

            <thead>
                <tr>
                    <th>
                        Project Name
                    </th>

                    <th>
                        Team Lead
                    </th>

                    <th>
                        Total Members
                    </th>

                    @*<th>
                            EmployeesOnLeave
                        </th>*@


                </tr>
            <thead>
            <tbody>
                @{
                    foreach (var item in data)
                    {

                        <tr>
                            <td onclick="location.href='@Url.Action("GetAllTeamEmpsAdmin", "Admin",new { projectId = item.ProjectId })'" class="Dep-team-lead-btn">  @item.ProjectName</td>
                            <td> @item.FirstName @item.LastName</td>
                            <td> @item.TotalMembers</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
    @*    <div class="form-group col-md-6 my-2 " style="margin-left:45%; ">
            <div class="col-md-2 " id="add-Desi-back-list">
                @Html.ActionLink("Back", "GetAllEmployeesDetails")
            </div>
        </div>
    *@
}
else if (ViewBag.DepartmentMessage != null)
{

    <script>
                alert(@ViewBag.DepartmentMessage?@Url.Action("Login", "Admin"): null);
    </script>



}
else
{
    <td> You are not Authorized </td>
}



