@model EmployeeManagementSystemCore.Models.Designation
@{
    ViewBag.Title = "GetAllDesignation";
   // var data = (IEnumerable<EmployeeManagementSystemCore.Models.Designation>)ViewData["designation"];
}

@if (Convert.ToInt16((Session["role"]).ToString()) == 1 && ViewBag.GetAllDesignation == null)
{
    <h2 class="DepartHeading">Designation</h2>
    <hr id="addemphr" />
    <div class="GetAllDes-btn-sec">

        <div class="GetAllEmpDet-btn-sec desi--btn">
            <a href="@Url.Action("AddDesignation" , "Admin")">
                <span class="fa fa-solid fa-user"></span>
                Add Designation
            </a>
        </div>

    </div>
    <div id="DepatDiv">
        <table class="DepartTab">
            <thead>

                <tr>
                    @*                    <th>
                            Designation Id
                        </th>
                    *@
                    <th>
                        Designation Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            <thead>
            <tbody>
                @{
                    foreach (var item in Model.DesignationsList)
                    {

                        <tr>



                            @*                            <td> @item.DesignationId  </td>
                            *@
                            <td> @item.DesignationName</td>
                            <td>
                                <span>


                                    <button onclick="location.href='@Url.Action("EditDesignation", "Admin",item)'" id="emp-create-btn" class="btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Edit Details"><i class="fa fa-solid fa-pen mx-1"></i></button>
                                    <button onclick="(confirm('do you want to delete')) ? location.href = '  @Url.Action("DeleteDesignation", "Admin",item)' : null;" id="emp-create-btn" class="btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Delete Designation"><i class="fa fa-solid fa-trash mx-1"></i></button>


                                </span>
                            </td>

                        </tr>


                    }
                }

            </tbody>

        </table>

    </div>
    @*    <div class="form-group col-md-6 my-2" style="margin-left:45%;">
            <div class="col-md-2 " id="Emp-form-back-list">
                @Html.ActionLink("Back", "GetAllEmployeesDetails")
            </div>
        </div>
    *@

}
else if (ViewBag.GetAllDesignation != null)
{
    <div>
        <p>
            @ViewBag.GetAllDesignation
        </p>
    </div>
}
else
{
    <td> You are not Authorized </td>
}



