
@{
    ViewBag.Title = "GetLeaveRequest";
    var data = (IEnumerable<EmployeeManagementSystemCore.Models.LeaveRequest>)ViewData["leaveRequest"];

}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (((Session["role"]).ToString()) == "Admin" && ViewBag.Report == null)
{
    <h2>GetTeamLeaveRequest</h2>
    <div id="main">
        <table class="EmpTableDet">
            <thead>
                <tr>
                    <th>
                        LeaveId
                    </th>


                    <th>
                        Is Half Day?
                    </th>

                    <th>
                        LeaveType
                    </th>

                    <th>
                        Reason
                    </th>

                    <th>
                        LengthOfLeave
                    </th>

                    <th>
                        StartDate
                    </th>
                    <th>
                        EndDate
                    </th>
                    <th>
                        Status
                    </th>



                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in data)
                    {

                        <tr>
                            <td> @item.LeaveRequestId</td>

                            <td> @item.IsHalfday</td>
                            <td> @item.LeaveType</td>
                            <td> @item.Reason</td>
                            <td> @item.LengthOfLeave</td>
                            <td> @item.StartDate</td>
                            <td> @item.EndDate</td>
                            <td> @item.Status</td>




                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
}



else if (ViewBag.Report != null)
{
    <div>
        <p>
            @ViewBag.Report
        </p>
    </div>
}
else
{
    <td> You are not Authorized </td>
}


